<div class="dialog-container">

  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <h1 mat-dialog-title>{{ userExists ? getLocalFormat().update.title || 'Update user' : getLocalFormat().form.title || 'Add user'}}</h1>
  <div mat-dialog-content>

    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>{{ getLocalFormat().firstName.text || 'First Name' }}</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.firstName" matInput
          placeholder="{{ getLocalFormat().firstName.placeholder || 'John' }}">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <!-- <mat-hint>please enter a name</mat-hint> -->
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ getLocalFormat().lastName.text || 'Last Name' }}</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="{{ getLocalFormat().lastName.placeholder || 'Doe' }}">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <!-- <mat-hint>please enter a name</mat-hint> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="mr-16 birth-date" appearance="outline">
        <mat-label>{{ getLocalFormat().birthDate.text || 'Date of birth' }}</mat-label>
        <input [disabled]="loading" [(ngModel)]="birthDate" matInput [matDatepicker]="dp">
        <mat-hint>{{ getLocalFormat().birthDate.hint || ''}}</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ getLocalFormat().eMail.text || 'E-Mail' }}</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.eMail" matInput placeholder="{{ getLocalFormat().eMail.placeholder || 'john@doe.com' }}">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <!-- <mat-hint>please enter an e-mail address</mat-hint> -->
      </mat-form-field>

    </div>

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ getLocalFormat().street.text || 'House No + Street' }}</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.street" matInput
          placeholder="{{ getLocalFormat().street.placeholder || '17 Adams Street' }}">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <!-- <mat-hint>please enter address</mat-hint> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>{{ getLocalFormat().zipCode.text || 'Zip code' }}</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput placeholder="{{ getLocalFormat().zipCode.placeholder || '10312' }}">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <!-- <mat-hint>please enter address</mat-hint> -->
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ getLocalFormat().town.text || 'Town' }}</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.city" matInput
          placeholder="{{ getLocalFormat().town.placeholder || 'Staten Island, NY' }}">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <!-- <mat-hint>please enter address</mat-hint> -->
      </mat-form-field>
    </div>


  </div>
  <div mat-dialog-actions class="add-user-buttons">
    <div>
      <button [disabled]="loading" mat-button (click)="onNoClick()">{{ getLocalFormat().form.cancel || 'Cancel' }}</button>
      <button [disabled]="loading" mat-button (click)="saveUser()" cdkFocusInitial>{{ getLocalFormat().form.save || 'Save' }}</button>
      <button *ngIf="userExists" [disabled]="loading" mat-button (click)="deleteUser()">{{ getLocalFormat().update.delete || 'Delete' }}</button>
    </div>
    <button [disabled]="loading" mat-button (click)="switchLang()">{{ getLocalFormat().form.lang || 'English (US)' }}</button>
  </div>

<div>