.birth-date {
    width: 48%;
}

.add-user-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dialog-container {
    position: relative;

    .mat-progress-bar {
        position: absolute;
        left: -1.5rem;
        right: -1.5rem;
        //top: -1.5rem;
        bottom: 0;
        width: calc(100% + 3rem);
    }
}