<div class="dialog-container">

  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <h1 mat-dialog-title>
    {{ addrExists ? localize().update.title || 'Update address' : localize().form.title || 'Add address'}}
  </h1>

  <div mat-dialog-content>
  <form [formGroup]="addrForm">

    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>{{ localize().firstName.text || 'First Name' }}</mat-label>
        <input  formControlName="firstName"
                (keydown)="keyDownEvent($event)"
                matInput
                placeholder="{{ localize().firstName.placeholder || 'John' }}">
        <!-- <mat-hint>please enter a name</mat-hint> -->
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ localize().lastName.text || 'Last Name' }}</mat-label>
        <input  [required]="true"
                formControlName="lastName"
                (keydown)="keyDownEvent($event)"
                matInput
                required
                placeholder="{{ localize().lastName.placeholder || 'Doe' }}">
        <!-- <mat-hint>please enter a name</mat-hint> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="mr-16 birth-date" appearance="outline">
        <mat-label>{{ localize().birthDate.text || 'Date of birth' }}</mat-label>
        <input  formControlName="birthDate"
                (keydown)="keyDownEvent($event)"
                matInput
                [matDatepicker]="dp">
        <mat-hint>{{ localize().birthDate.hint || ''}}</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ localize().eMail.text || 'E-Mail' }}</mat-label>
        <input  formControlName="eMail"
                (keydown)="keyDownEvent($event)"
                matInput
                pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                placeholder="{{ localize().eMail.placeholder || 'john@doe.com' }}">
        <!-- <mat-hint>please enter an e-mail address</mat-hint> -->
      </mat-form-field>

    </div>

    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>{{ localize().zipCode.text || 'Zip code' }}</mat-label>
        <input  formControlName="zipCode"
                matInput
                [matAutocomplete]="autoPlz"
                (keydown)="keyDownEvent($event, true)"
                placeholder="{{ localize().zipCode.placeholder || '10312' }}">
        <mat-autocomplete autoActiveFirstOption #autoPlz="matAutocomplete">
          <mat-option *ngFor="let data of filteredPlzData | async" [value]="data.plz"
                      (onSelectionChange)="addrForm.controls['city'].setValue(data.city);
                                           selectionChanged = true;">
            {{data.plz}} {{data.city}}
          </mat-option>
        </mat-autocomplete>
        <!-- <mat-hint>please enter address</mat-hint> -->
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ localize().town.text || 'Town' }}</mat-label>
        <input  formControlName="city"
                matInput
                [matAutocomplete]="autoCity"
                (keydown)="keyDownEvent($event, true)"
                placeholder="{{ localize().town.placeholder || 'Staten Island, NY' }}">
        <mat-autocomplete autoActiveFirstOption #autoCity="matAutocomplete">
          <mat-option *ngFor="let data of filteredCityData | async" [value]="data.city"
                      (onSelectionChange)="addrForm.controls['zipCode'].setValue(data.plz);
                                           selectionChanged = true;">
            {{data.plz}} {{data.city}}
          </mat-option>
        </mat-autocomplete>
        <!-- <mat-hint>please enter address</mat-hint> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ localize().street.text || 'House No + Street' }}</mat-label>
        <input  formControlName="street"
                matInput
                [matAutocomplete]="autoStreet"
                (keydown)="keyDownEvent($event, !selectionChanged);"
                placeholder="{{ localize().street.placeholder || '17 Adams Street' }}">
        <mat-autocomplete autoActiveFirstOption #autoStreet="matAutocomplete">
          <mat-option *ngFor="let data of filteredStreetData | async" [value]="data.street"
                      (onSelectionChange)="addrForm.controls['zipCode'].setValue(data.plz);
                                           addrForm.controls['city'].setValue(data.city);
                                           selectionChanged = true;">
            {{data.street}}, {{data.plz}} {{data.city}}
          </mat-option>
        </mat-autocomplete>
        <!-- <mat-hint>please enter address</mat-hint> -->
      </mat-form-field>
    </div>

  </form>
  </div>

  <div mat-dialog-actions class="add-addr-buttons">
    <div>
      <button [disabled]="loading"
              mat-button
              (click)="onNoClick()">
        {{ localize().form.cancel || 'Cancel' }}
      </button>
      <button id="save-addr-button"
              [disabled]="loading"
              mat-button
              (click)="saveAddr()"
              [attr.cdkFocusInitial]="addrExists ? '' : null">
        {{ localize().form.save || 'Save' }}
      </button>
      <button *ngIf="addrExists"
              [disabled]="loading" mat-button
              (click)="deleteAddr()">
        {{ localize().update.delete || 'Delete' }}
      </button>
    </div>
    <button [disabled]="loading"
            mat-button (click)="switchLang()">
      {{ localize().form.lang || 'English (US)' }}
    </button>
  </div>

  <div>
