<div *ngIf="!loggedIn">
    <ngx-auth-firebaseui (onSuccess)="onLogin($event)"
        [tabIndex]="1"
        [signInTabText]="localize().login.signInTab || 'Sign in'"
        [signInCardTitleText]="localize().login.signInCard || 'Signing in'"
        [loginButtonText]="localize().login.loginButton || 'Log In'"
        [forgotPasswordButtonText]="localize().login.forgotPassword || 'Forgot Password ?'"
        [emailText]="localize().login.emailText || 'E-mail'"
        [passwordText]="localize().login.passwordText || 'Password'"
        [registerTabText]="localize().login.registerTab || 'Register'"
        [registerCardTitleText]="localize().login.registerCard || 'Registration'"
        [registerButtonText]="localize().login.registerButton || 'Register'"
        [guestButtonText]="localize().login.guestButton || 'continue as guest'"
        [resetPasswordTabText]="localize().login.resetPasswordTab || 'Reset Password'"
        [resetPasswordInputText]="localize().login.resetPasswordInput || 'E-mail address to reset password'"
        [resetPasswordActionButtonText]="localize().login.resetPasswordButton || 'Reset'"
        [providers]="[providers.EmailAndPassword, providers.Google, providers.ANONYMOUS]">
    </ngx-auth-firebaseui>
</div>

<div *ngIf="loggedIn">
    <ngx-auth-firebaseui-user
        [emailVerifiedText]="localize().login.verified || 'email is verified'"
        [emailNotVerifiedText]="localize().login.notVerified || 'email is not verified'"
        [editButtonText]="localize().login.editButton || 'edit'"
        [deleteAccountButtonText]="localize().login.deleteButton || 'Delete account'"
        [signoutButtonText]="localize().login.signOutButton || 'Sign out'"
        [cancelButtonText]="localize().login.cancelButton || 'cancel'"
        [saveChangesButtonText]="localize().login.saveButton || 'Save changes'"
        >
    </ngx-auth-firebaseui-user>
</div>

