
<mat-drawer-container class="mat-drawer-container" autosize>

  <mat-drawer #drawer class="sidenav" [(opened)]="navOpen" [mode]="navMode">
    <div class="logo-container">
      <img src="assets/img/logo.png" alt="">
    </div>
 
    <div class="sidebar-container">

      <ul class="menue-items">
        <li routerLink="/dashboard" routerLinkActive="router-link-active"><mat-icon>fact_check</mat-icon>{{ localize().stats || 'Dashboard' }}</li>
        <li routerLink="/user" routerLinkActive="router-link-active"><mat-icon>perm_identity</mat-icon>{{ localize().users || 'User' }}</li>
      </ul>

      <div class="osm-container" [ngStyle]="{'visibility': fromUserComponent ? 'visible' : 'hidden'}">
        <app-osm-map
          [center]="mapCenter"
          (map$)="receiveMap($event)"
          (zoom$)="receiveZoom($event)"
          id="main-map">
        </app-osm-map>
      </div>

      <div *ngIf="userComponentLoaded" class="user-details-container">
        <app-user-details [userData]="userData"></app-user-details>
      </div>

      <div *ngIf="false">
        <ngx-auth-firebaseui></ngx-auth-firebaseui>
      </div>

    </div>

  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="menu-icon" (click)="drawer.toggle()" aria-hidden="false" aria-label="menu icon">
            {{navMode == 'side' ? (navOpen ? 'arrow_back' : 'menu') : 'menu' }}
        </mat-icon>
        <span>Simple CRM</span>
        <button *ngIf="userComponentLoaded" class="add-user-button" (click)="userComponent.newUser()"
          mat-stroked-button
          color="primary"
          [matTooltip]="localize().add || 'add user'"
          matTooltipPosition="below">
              <mat-icon aria-hidden="false" aria-label="add address">person_add</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet (activate)="subscribeToEmitter($event)" (deactivate)="unsubscribe()"></router-outlet>
    </div>
  </div>

</mat-drawer-container>
