
<mat-drawer-container class="mat-drawer-container" autosize>

  <mat-drawer #drawer class="sidenav" [(opened)]="navOpen" [mode]="navMode">
    <div class="logo-container">
      <img src="assets/img/logo.png" alt="">
    </div>
 
    <div class="sidebar-container">

      <ul class="menue-items">
        <li routerLink="/statistics" routerLinkActive="router-link-active"><mat-icon>fact_check</mat-icon>{{ localize().stats || 'Dashboard' }}</li>
        <li routerLink="/address" routerLinkActive="router-link-active"><mat-icon>people</mat-icon>{{ localize().addresses || 'Addresses' }}</li>
      </ul>

      <div class="osm-container" [ngStyle]="{'visibility': fromAddressComponent ? 'visible' : 'hidden'}">
        <app-osm-map
          [center]="mapCenter"
          (map$)="receiveMap($event)"
          (zoom$)="receiveZoom($event)"
          id="main-map">
        </app-osm-map>
      </div>

      <div *ngIf="addressComponentLoaded" class="addr-details-container">
        <app-address-details [addrData]="addrData"></app-address-details>
      </div>

    </div>

  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="menu-icon" (click)="drawer.toggle()" aria-hidden="false" aria-label="menu icon">
            {{navMode == 'side' ? (navOpen ? 'arrow_back' : 'menu') : 'menu' }}
        </mat-icon>
        <span>Simple CRM</span>
        <button *ngIf="addressComponentLoaded" class="add-addr-button" (click)="addressComponent.newAddress()"
          mat-raised-button
          color="#ffffff"
          [matTooltip]="localize().add || 'add address'"
          matTooltipPosition="below">
              <mat-icon aria-hidden="false" aria-label="add address">person_add</mat-icon>
        </button>

        <div *ngIf="loggedIn" class="user-avatar" [style.margin-left]="addressComponentLoaded ? 'unset' : 'auto'">
          <ngx-auth-firebaseui-avatar (onSignOut)="onSignOut()">
          </ngx-auth-firebaseui-avatar>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet (activate)="subscribeToEmitter($event)" (deactivate)="unsubscribe()"></router-outlet>
    </div>

    <div *ngIf="loggedIn">
      <ngx-auth-firebaseui-avatar (onSignOut)="onSignOut()">
      </ngx-auth-firebaseui-avatar>
    </div>

  </div>

</mat-drawer-container>
