.add-user-button {
    position: fixed;
    right: calc(var(--font-size) * 3.5);
    bottom: calc(var(--font-size) * 3.5);
    z-index: 10;
}

.filter-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    left: 0;
    right: 0;
    top: calc(var(--font-size) * 2.7);
    z-index: 300;
    margin-bottom: calc(var(--font-size) * -0.625);

    .input-field {
        min-width: 20vw;
        max-width: 100vw;
    }
}

.table-container {
    overflow-x: auto;
    padding-bottom: calc(var(--font-size) * 1.1);
}

mat-card {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.data-table table {
    width: 100%;


    .user-col-1 {
        width: 10%;
    }

    .user-col-2 {
        width: 15%;
    }

    .user-col-3 {
        width: 16.67%;
    }

    .user-col-4 {
        width: 30.0%;
    }

    .user-col-5 {
        width: 33.33%;
    }

    td {
        text-align: start;
        vertical-align: top;
        line-height: calc(var(--font-size) * 0.95);
        padding-right: calc(var(--font-size) * 0.5);
        padding-top: calc(var(--font-size) * 0.5);
        padding-bottom: calc(var(--font-size) * 0.5);
    }

    th, td {
        padding-left: calc(var(--font-size) * 0.5);
    }

    th:first-child,
    td:first-child {
        padding-left: calc(var(--font-size) * 1.1);
    }

    th:last-child,
    td:last-child {
        padding-right: calc(var(--font-size) * 1.1);
        padding-left: calc(var(--font-size) * 1.1);
    }

    .mat-header-cell {
        line-height: calc(var(--font-size) * 0.95);
    }

    .mat-cell,
    .mat-header-cell {
        font-size: calc(var(--font-size) * 0.8) !important;
    }

    .mat-row .mat-cell {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        cursor: pointer;
    }

    .mat-row:hover .mat-cell {
        //border-color: currentColor;
        background-color: rgba(0, 0, 0, .05);
    }

    .mat-row:focus {
        outline: auto;
    }

    tr:first-child td {
        padding-top: calc(var(--font-size) * 1.1);
        padding-bottom: calc(var(--font-size) * 1.1);
    }
}

.data-table {
    min-height: 50vh;
    margin-bottom: calc(var(--font-size) * 4.9);
}


.mat-paginator {
    min-width: max-content;
    overflow-x: auto;
    overflow-wrap: anywhere;
    left: 0;
    right:0;
    bottom: 0;
    border-top: 1px solid lightgray;
    position: fixed;
    z-index: 1;
}
