<button class="add-user-button" (click)="newUser()"
        mat-fab color="primary" 
        aria-label="button with a plus icon" 
        matTooltip="add user"
        matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>


<div class="filter-container">
  <input tabindex="1" class="filter-input input-field" type="text" placeholder="Filter ..." 
    (keyup)="applyFilter($event); checkModifiedKeys($event, '', 0);" 
    (click)="filterInputClicked($event)" 
    (focus)="tableObserver.disconnect()" 
    (blur)="tableObserver = observeUserTable()">
</div>


<mat-card class="data-table">
  <div class="table-container">

    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortChange($event)">

    <colgroup>
        <col span="1" class="user-col-1">
        <col span="1" class="user-col-2">
        <col span="1" class="user-col-2">
        <col span="1" class="user-col-4">
        <col span="1" class="user-col-4">
    </colgroup>
  
    <!-- Row Count Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> <span class="ta-left"> # </span> </th>
        <td mat-cell *matCellDef="let i = index"> {{ (paginator.pageIndex * paginator.pageSize) + i + 1 }}</td>
    </ng-container>
   
    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <span class="ta-left"> {{localize().firstName.text || 'First Name'}} </span> </th>
      <td mat-cell *matCellDef="let user"> {{ user.firstName }} </td>
  </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <span class="ta-left"> {{localize().table.fullName || 'Last Name'}} </span> </th>
        <td mat-cell *matCellDef="let user"> {{ user.lastName }} </td> <!--{{ user.firstName ? ', ' + user.firstName : '' }} </td>-->
    </ng-container>
  
    <!-- E-Mail Column -->
    <ng-container matColumnDef="eMail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <span class="ta-left"> {{localize().table.eMail || 'E-Mail'}} </span> </th>
        <td mat-cell *matCellDef="let user"> {{user.eMail}} </td>
    </ng-container>
  
    <!-- Adress Column -->
    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <span class="ta-left"> {{localize().table.address || 'Address'}} </span> </th>
        <td mat-cell *matCellDef="let user"> {{user.zipCode}} {{user.city}}, {{user.street}} </td>
    </ng-container>
      
    <!-- Marker Column -->
    <ng-container matColumnDef="marker">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> M </th>
      <td mat-cell *matCellDef="let user; let i=index;"
          (click)="markUserByMouse(user.id, user.marker?.charAt(1) || ' ', i, $event)"> {{user.marker?.charAt(1) || ''}} </td>
    </ng-container>
  
    <!-- Header Row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Data Rows -->
      <tr tabindex="1" mat-row *matRowDef="let row; let i=index; columns: displayedColumns;" id="row-{{i}}"
        (click)="editUserByMouse(row.id, i)"
        (keydown)="checkKeys($event, row.id, i)"
        (keyup)="checkModifiedKeys($event, row.id, i)">
      </tr>
    </table>
  </div>  
</mat-card>


<mat-paginator  [pageSizeOptions]="[5, 10, 20]"
                [pageSize]="10"
                [pageIndex]="pageIndex"
                showFirstLastButtons 
                aria-label="Select page of users">
</mat-paginator>

  
