<mat-card>
    <!-- <mat-card-title>Users List</mat-card-title> -->
    <div class="table-container">
        <table class="user-table">
            <colgroup>
                <col span="1" class="user-col-1">
                <col span="1" class="user-col-3">
                <col span="1" class="user-col-3">
                <col span="1" class="user-col-3">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">E-Mail</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users$ | async; let i = index;" (click)="editUser(user['id'])"> <!--</tr>[routerLink]="['/user/' + user['id']]">-->
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ user['firstName'] + ' ' + user['lastName'] }}</td>
                    <td>{{ user['eMail'] }}</td>
                    <td>{{ user['street'] + ', ' + user['zipCode'] + ' ' + user['city'] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</mat-card>

<button class="add-user-button" (click)="newUser()"
        mat-fab color="primary" 
        aria-label="button with a plus icon" 
        matTooltip="add user"
        matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>
