<button class="add-user-button" (click)="newUser()"
        mat-fab color="primary" 
        aria-label="button with a plus icon" 
        matTooltip="add user"
        matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>


<!-- <div class="mat-elevation-z8"> -->
<mat-card class="data-table">
  <div class="table-container">

    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortChange($event)">

    <colgroup>
        <col span="1" class="user-col-1">
        <col span="1" class="user-col-3">
        <col span="1" class="user-col-3">
        <col span="1" class="user-col-3">
    </colgroup>
  
    <!-- Counter Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let i = index"> {{ i + 1 }} </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let user"> {{user.firstName}} {{ user.lastName}} </td>
    </ng-container>
  
    <!-- E-Mail Column -->
    <ng-container matColumnDef="eMail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-Mail </th>
        <td mat-cell *matCellDef="let user"> {{user.eMail}} </td>
    </ng-container>
  
    <!-- Adress Column -->
    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let user"> {{user.street}}, {{user.zipCode}} {{user.city}} </td>
    </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr tabindex="1" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editUser(row.id)"></tr>
    </table>
  </div>  
</mat-card>
<!--</div>-->


<mat-paginator  [pageSizeOptions]="[5, 10, 20]"
                [pageSize]="10"
                showFirstLastButtons 
                aria-label="Select page of users">
</mat-paginator>

  
